.st0{fill:#ACE8F2;}
.st1{clip-path:url(#SVGID_5_);fill:#81B05F;}
.st2{clip-path:url(#SVGID_65_);fill:#6699C2;}
.st3{clip-path:url(#SVGID_15_);fill:#52638F;}
.st4{fill:none;stroke:#FFFFFF;stroke-width:7;stroke-miterlimit:10;}
.st5{clip-path:url(#SVGID_21_);fill:#353F5C;}
.st6{fill:#E80000;}
.st7{clip-path:url(#SVGID_45_);fill:#FFFFFF;}
.st8{fill:none;stroke:#FFFFFF;stroke-width:2;stroke-miterlimit:10;}
.st9{clip-path:url(#SVGID_25_);fill:#C22C28;}
.st10{fill:#85939E;}
.st11{clip-path:url(#SVGID_51_);fill:#7BBA3C;}
.st12{fill:#897596;}
.st13{fill:#B8B8B8;}
.st14{fill:none;stroke:#FFFFFF;stroke-miterlimit:10;stroke-dasharray:3.9274,1.9637;}
.st15{fill:#EF3942;}
.st16{fill:#EF454E;}
.st17{clip-path:url(#SVGID_23_);fill:#374E78;}
.st18{clip-path:url(#SVGID_62_);fill:#666666;}
.st19{clip-path:url(#SVGID_13_);fill:#374E78;}
.st20{clip-path:url(#SVGID_37_);fill:#61AAB8;}
.st21{fill:#212C33;}
.st22{clip-path:url(#SVGID_2_);fill:#B52B32;}
.st23{fill:#F28885;}
.st24{fill:none;stroke:#FFFFFF;stroke-width:5;stroke-linecap:round;stroke-miterlimit:10;}
.st25{clip-path:url(#SVGID_27_);fill:#61AAB8;}
.st26{clip-path:url(#SVGID_9_);fill:#52638F;}
.st27{clip-path:url(#SVGID_69_);fill:#6B7680;}
.st28{clip-path:url(#SVGID_7_);fill:#29577D;}
.st29{fill:#91DC47;}
.st30{clip-path:url(#SVGID_33_);fill:#437680;}
.st31{fill:url(#SVGID_3_);}
.st32{clip-path:url(#SVGID_54_);fill:none;stroke:#FFFFFF;stroke-width:3;stroke-miterlimit:10;}
.st33{clip-path:url(#SVGID_41_);fill:#EA0001;}
.st34{clip-path:url(#SVGID_17_);fill:#FFFFFF;}
.st35{fill:#98CF70;}
.st36{fill:#999999;}
.st37{fill:none;stroke:#DFDFDF;stroke-linecap:round;stroke-miterlimit:10;}
.st38{opacity:0.4;fill:#CBADDE;}
.st39{fill:#FF616B;}
.st40{fill:#FF747C;}
.st41{fill:#FF868D;}
.st42{fill:#61AAB8;}
.st43{fill:#FF9399;}
.st44{fill:#FFA7AD;}
.st45{fill:#FFBDC0;}
.st46{fill:#FFC0C4;}
.st47{fill:#FFD6D9;}
.st48{fill:#FFD9DB;}
.st49{fill:#FFDEE0;}
.st50{fill:#FFFFFF;}
.st51{fill:#65CF69;}
.st52{fill:#9C6B3D;}
.st53{fill:#697FB8;}
.st54{fill:#9E9E9E;}
.st55{clip-path:url(#SVGID_19_);fill:#FFFFFF;}
.st56{fill:#3672A4;}
.st57{clip-path:url(#SVGID_60_);fill:#805832;}
.st58{clip-path:url(#SVGID_43_);fill:#8A0001;}
.st59{clip-path:url(#SVGID_47_);fill:#7BBA3C;}
.st60{clip-path:url(#SVGID_56_);fill:#325680;}
.st61{clip-path:url(#SVGID_11_);fill:#52638F;}
.st62{fill:#D3D3D3;}
.st63{fill:#3D699C;}
.st64{clip-path:url(#SVGID_35_);}
.st65{clip-path:url(#SVGID_67_);fill:#55B358;}
.st66{clip-path:url(#SVGID_49_);fill:#7BBA3C;}
.st67{clip-path:url(#SVGID_58_);fill:#325680;}
.st68{fill:#75AFDE;}
.st69{fill:#75CEDE;}
.st70{opacity:0.28;fill:#CBADDE;}
.st71{clip-path:url(#SVGID_31_);fill:#61AAB8;}
.st72{fill:#DADADA;}
.st73{fill:#DBDBDB;}
.st74{fill:#DBEFFF;}
.st75{fill:#DC322D;}
.st76{fill:none;stroke:#FFFFFF;stroke-width:3;stroke-miterlimit:10;}
.st77{clip-path:url(#SVGID_39_);fill:#7B6987;}
.st78{fill:#DFDFDF;}
.st79{fill:#437680;}
.st80{clip-path:url(#SVGID_29_);fill:#437680;}

