.st0{fill:none;stroke:#DB7373;stroke-width:2;stroke-miterlimit:10;}
.st1{fill:none;stroke:#FFAB7A;stroke-width:2;stroke-miterlimit:10;}
.st2{fill:#567D99;}
.st3{fill:#223542;}
.st4{fill:#243845;}
.st5{fill:none;stroke:#243845;stroke-width:3;stroke-miterlimit:10;}
.st6{fill:#2A3D4A;}
.st7{fill:#2A4351;}
.st8{fill:none;stroke:#243845;stroke-width:7;stroke-miterlimit:10;}
.st9{fill:#2F414D;}
.st10{fill:none;stroke:#2B414F;stroke-miterlimit:10;}
.st11{fill:none;stroke:#DB7373;stroke-width:4;stroke-miterlimit:10;}
.st12{fill:#3B5669;}
.st13{fill:#3E5562;}
.st14{fill:none;stroke:#26333B;stroke-width:7;stroke-miterlimit:10;}
.st15{fill:#212C33;stroke:#DB7373;stroke-miterlimit:10;}
.st16{fill:#DB7373;}
.st17{fill:#DBDBDB;}
.st18{fill:#446378;}

