
	.st0_iqycc66i{fill:#DB7373;}
	.st1_iqycc66i{fill:#3E5562;}
	.st2_iqycc66i{fill:none;stroke:#BFBFBF;stroke-width:2;stroke-miterlimit:10;}
	.st3_iqycc66i{fill:#4B6373;}
	.st4_iqycc66i{fill:none;stroke:#01EFBC;stroke-width:1.5;stroke-miterlimit:10;}
	.st5_iqycc66i{fill:none;stroke:#769AA8;stroke-width:2;stroke-miterlimit:10;}
	.st6_iqycc66i{fill:#F5F5F5;}
	.st7_iqycc66i{fill:none;stroke:#46B4DB;stroke-width:3;stroke-miterlimit:10;}
	.st8_iqycc66i{fill:#008BBD;}
	.st9_iqycc66i{fill:none;stroke:#FFFFFF;stroke-width:2;stroke-miterlimit:10;}
	.st10_iqycc66i{fill:none;stroke:#46B4DB;stroke-width:2;stroke-miterlimit:10;}
	.st11_iqycc66i{fill:none;stroke:#46B4DB;stroke-width:1.645;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
	.st12_iqycc66i{fill:none;stroke:#46B4DB;stroke-width:1.8285;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
	.st13_iqycc66i{fill:none;stroke:#46B4DB;stroke-width:1.4;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
	.st14_iqycc66i{fill:none;stroke:#46B4DB;stroke-width:2;stroke-miterlimit:10;stroke-dasharray:2.0028,3.0041;}
	.st15_iqycc66i{fill:none;stroke:#46B4DB;stroke-width:2;stroke-miterlimit:10;stroke-dasharray:2,3;}
	.st16_iqycc66i{fill:#46B4DB;}
	.st17_iqycc66i{fill:none;stroke:#028CB9;stroke-width:1.7432;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
	.st18_iqycc66i{fill:none;stroke:#5F7C87;stroke-width:1.7432;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
	.st19_iqycc66i{fill:none;stroke:#5F7C87;stroke-width:1.7432;stroke-linecap:round;stroke-linejoin:round;stroke-dasharray:2.922,2.922;}
	.st20_iqycc66i{fill:none;stroke:#5F7C87;stroke-width:1.7432;stroke-linecap:round;stroke-linejoin:round;}
	.st21_iqycc66i{fill:none;stroke:#92A1A8;stroke-width:2;stroke-miterlimit:10;}
	.st22_iqycc66i{fill:#E6E6E6;}
	.st23_iqycc66i{fill:#37C2A1;}
	.st24_iqycc66i{fill:#FFFFFF;}
	.st25_iqycc66i{fill:none;stroke:#C3C3C3;stroke-width:2.5;stroke-linejoin:round;stroke-miterlimit:10;}
	.st26_iqycc66i{fill:none;stroke:#D8D8D8;stroke-width:2;stroke-miterlimit:10;}
	.st27_iqycc66i{fill:#7AB849;}
	.st28_iqycc66i{fill:none;stroke:#D8D8D8;stroke-width:2.217;stroke-miterlimit:10;}
	.st29_iqycc66i{fill:none;stroke:#2886B3;stroke-miterlimit:10;}
	.st30_iqycc66i{fill:none;stroke:#1D6282;stroke-miterlimit:10;}
	.st31_iqycc66i{fill:none;stroke:#2BABD9;stroke-width:2;stroke-miterlimit:10;}
	.st32_iqycc66i{fill:none;stroke:#243845;stroke-width:3;stroke-miterlimit:10;}
	.st33_iqycc66i{fill:none;stroke:#DB7373;stroke-width:2;stroke-miterlimit:10;}
	.st34_iqycc66i{fill:#DBDBDB;}
	.st35_iqycc66i{fill:none;stroke:#203036;stroke-width:2;stroke-linejoin:round;stroke-miterlimit:10;}
	.st36_iqycc66i{fill:none;stroke:#203036;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
	.st37_iqycc66i{fill:none;stroke:#203036;stroke-linejoin:round;stroke-miterlimit:10;}
	.st38_iqycc66i{fill:#95A1A8;}
	.st39_iqycc66i{fill:none;}
	.st40_iqycc66i{clip-path:url(#SVGID_2_iqycc66i);}
	.st41_iqycc66i{clip-path:url(#SVGID_4_iqycc66i);}
	.st42_iqycc66i{clip-path:url(#SVGID_6_iqycc66i);}
	.st43_iqycc66i{clip-path:url(#SVGID_8_iqycc66i);}
	.st44_iqycc66i{clip-path:url(#SVGID_10_iqycc66i);}
	.st45_iqycc66i{clip-path:url(#SVGID_12_iqycc66i);}
	.st46_iqycc66i{clip-path:url(#SVGID_14_iqycc66i);}
	.st47_iqycc66i{clip-path:url(#SVGID_16_iqycc66i);}
	.st48_iqycc66i{clip-path:url(#SVGID_18_iqycc66i);}
	.st49_iqycc66i{clip-path:url(#SVGID_20_iqycc66i);}
	.st50_iqycc66i{clip-path:url(#SVGID_22_iqycc66i);}
	.st51_iqycc66i{clip-path:url(#SVGID_24_iqycc66i);}
	.st52_iqycc66i{clip-path:url(#SVGID_26_iqycc66i);}
	.st53_iqycc66i{clip-path:url(#SVGID_28_iqycc66i);}
	.st54_iqycc66i{clip-path:url(#SVGID_30_iqycc66i);}
	.st55_iqycc66i{clip-path:url(#SVGID_32_iqycc66i);}
	.st56_iqycc66i{clip-path:url(#SVGID_34_iqycc66i);}
	.st57_iqycc66i{clip-path:url(#SVGID_36_iqycc66i);}
	.st58_iqycc66i{clip-path:url(#SVGID_38_iqycc66i);}
	.st59_iqycc66i{clip-path:url(#SVGID_40_iqycc66i);}
	.st60_iqycc66i{clip-path:url(#SVGID_42_iqycc66i);}
	.st61_iqycc66i{clip-path:url(#SVGID_44_iqycc66i);}
	.st62_iqycc66i{clip-path:url(#SVGID_46_iqycc66i);}
	.st63_iqycc66i{clip-path:url(#SVGID_48_iqycc66i);}
	.st64_iqycc66i{clip-path:url(#SVGID_50_iqycc66i);}
	.st65_iqycc66i{clip-path:url(#SVGID_52_iqycc66i);}
	.st66_iqycc66i{clip-path:url(#SVGID_54_iqycc66i);}
	.st67_iqycc66i{clip-path:url(#SVGID_56_iqycc66i);}
	.st68_iqycc66i{clip-path:url(#SVGID_58_iqycc66i);}
	.st69_iqycc66i{clip-path:url(#SVGID_60_iqycc66i);}
	.st70_iqycc66i{clip-path:url(#SVGID_62_iqycc66i);}
	.st71_iqycc66i{clip-path:url(#SVGID_64_iqycc66i);}
	.st72_iqycc66i{clip-path:url(#SVGID_66_iqycc66i);}
	.st73_iqycc66i{clip-path:url(#SVGID_68_iqycc66i);}
	.st74_iqycc66i{clip-path:url(#SVGID_70_iqycc66i);}
	.st75_iqycc66i{clip-path:url(#SVGID_72_iqycc66i);}
	.st76_iqycc66i{clip-path:url(#SVGID_74_iqycc66i);}
	.st77_iqycc66i{clip-path:url(#SVGID_76_iqycc66i);}
	.st78_iqycc66i{clip-path:url(#SVGID_78_iqycc66i);}
	.st79_iqycc66i{clip-path:url(#SVGID_80_iqycc66i);}
	.st80_iqycc66i{clip-path:url(#SVGID_82_iqycc66i);}
	.st81_iqycc66i{clip-path:url(#SVGID_84_iqycc66i);}
	.st82_iqycc66i{clip-path:url(#SVGID_86_iqycc66i);}
	.st83_iqycc66i{clip-path:url(#SVGID_88_iqycc66i);}
	.st84_iqycc66i{clip-path:url(#SVGID_90_iqycc66i);}
	.st85_iqycc66i{clip-path:url(#SVGID_92_iqycc66i);}
	.st86_iqycc66i{clip-path:url(#SVGID_94_iqycc66i);}
	.st87_iqycc66i{clip-path:url(#SVGID_96_iqycc66i);}
	.st88_iqycc66i{clip-path:url(#SVGID_98_iqycc66i);}
	.st89_iqycc66i{clip-path:url(#SVGID_100_iqycc66i);}
	.st90_iqycc66i{clip-path:url(#SVGID_102_iqycc66i);}
	.st91_iqycc66i{clip-path:url(#SVGID_104_iqycc66i);}
	.st92_iqycc66i{clip-path:url(#SVGID_106_iqycc66i);}
	.st93_iqycc66i{clip-path:url(#SVGID_108_iqycc66i);}
	.st94_iqycc66i{clip-path:url(#SVGID_110_iqycc66i);}
	.st95_iqycc66i{clip-path:url(#SVGID_112_iqycc66i);}
	.st96_iqycc66i{clip-path:url(#SVGID_114_iqycc66i);}
	.st97_iqycc66i{clip-path:url(#SVGID_116_iqycc66i);}
	.st98_iqycc66i{clip-path:url(#SVGID_118_iqycc66i);}
	.st99_iqycc66i{clip-path:url(#SVGID_120_iqycc66i);}
	.st100_iqycc66i{clip-path:url(#SVGID_122_iqycc66i);}
	.st101_iqycc66i{clip-path:url(#SVGID_124_iqycc66i);}
	.st102_iqycc66i{clip-path:url(#SVGID_126_iqycc66i);}
	.st103_iqycc66i{clip-path:url(#SVGID_128_iqycc66i);}
	.st104_iqycc66i{clip-path:url(#SVGID_130_iqycc66i);}
	.st105_iqycc66i{clip-path:url(#SVGID_132_iqycc66i);}
	.st106_iqycc66i{clip-path:url(#SVGID_134_iqycc66i);}
	.st107_iqycc66i{clip-path:url(#SVGID_136_iqycc66i);}
	.st108_iqycc66i{clip-path:url(#SVGID_138_iqycc66i);}
	.st109_iqycc66i{clip-path:url(#SVGID_140_iqycc66i);}
	.st110_iqycc66i{clip-path:url(#SVGID_142_iqycc66i);}
	.st111_iqycc66i{clip-path:url(#SVGID_144_iqycc66i);}
	.st112_iqycc66i{clip-path:url(#SVGID_146_iqycc66i);}
	.st113_iqycc66i{clip-path:url(#SVGID_148_iqycc66i);}
	.st114_iqycc66i{clip-path:url(#SVGID_150_iqycc66i);}
	.st115_iqycc66i{clip-path:url(#SVGID_152_iqycc66i);}
	.st116_iqycc66i{clip-path:url(#SVGID_154_iqycc66i);}
	.st117_iqycc66i{clip-path:url(#SVGID_156_iqycc66i);}
	.st118_iqycc66i{clip-path:url(#SVGID_158_iqycc66i);}
	.st119_iqycc66i{clip-path:url(#SVGID_160_iqycc66i);}
	.st120_iqycc66i{clip-path:url(#SVGID_162_iqycc66i);}
	.st121_iqycc66i{clip-path:url(#SVGID_164_iqycc66i);}
	.st122_iqycc66i{clip-path:url(#SVGID_166_iqycc66i);}
	.st123_iqycc66i{clip-path:url(#SVGID_168_iqycc66i);}
	.st124_iqycc66i{clip-path:url(#SVGID_170_iqycc66i);}
	.st125_iqycc66i{clip-path:url(#SVGID_172_iqycc66i);}
	.st126_iqycc66i{clip-path:url(#SVGID_174_iqycc66i);}
	.st127_iqycc66i{clip-path:url(#SVGID_176_iqycc66i);}
	.st128_iqycc66i{clip-path:url(#SVGID_178_iqycc66i);}
	.st129_iqycc66i{clip-path:url(#SVGID_180_iqycc66i);}
	.st130_iqycc66i{clip-path:url(#SVGID_182_iqycc66i);}
	.st131_iqycc66i{clip-path:url(#SVGID_184_iqycc66i);}
	.st132_iqycc66i{clip-path:url(#SVGID_186_iqycc66i);}
	.st133_iqycc66i{clip-path:url(#SVGID_188_iqycc66i);}
	.st134_iqycc66i{clip-path:url(#SVGID_190_iqycc66i);}
	.st135_iqycc66i{clip-path:url(#SVGID_192_iqycc66i);}
	.st136_iqycc66i{clip-path:url(#SVGID_194_iqycc66i);}
	.st137_iqycc66i{clip-path:url(#SVGID_196_iqycc66i);}
	.st138_iqycc66i{clip-path:url(#SVGID_198_iqycc66i);}
	.st139_iqycc66i{clip-path:url(#SVGID_200_iqycc66i);}
	.st140_iqycc66i{fill:#A8A8A9;}
	.st141_iqycc66i{fill:#8A8A8A;}
	.st142_iqycc66i{fill:#D7D8D9;}
	.st143_iqycc66i{fill:none;stroke:#586570;stroke-width:2;stroke-miterlimit:10;}
	.st144_iqycc66i{fill:none;stroke:#586570;stroke-width:2;stroke-linejoin:round;stroke-miterlimit:10;}
	.st145_iqycc66i{fill:none;stroke:#586570;stroke-linejoin:round;stroke-miterlimit:10;}
	.st146_iqycc66i{fill:none;stroke:#586570;stroke-width:1.5;stroke-linejoin:round;stroke-miterlimit:10;}
	.st147_iqycc66i{fill:#2B94D4;}
