body {background:#DFDFDF;}
.open-src{background:#E6E7E8; padding:20px;
  svg    {display:block; margin:50px;}

}
// svg         {
//   .lato     { font-family:'Lato', sans-serif; }
//   .courier  { font-family:'Courier'; }
//   .f12      { font-size:12px; }
//   .f15      { font-size:15px; }
//   .f17      { font-size:17px; }
//   .f20      { font-size:20px; }
//   .f23      { font-size:23px; }
//   .c-turq   { fill:#23D5DB; }
//   .c-red    { fill:#FC6269; }
// }

// svg{
//   #front-logo:hover{
//     #a  { fill:#7D9DAF; }
//     #b  { fill:#88BCD7; }
//     #c  { fill:#53768C; }
//     #d  { fill:#3B4D56; }
//     #e  { fill:#3E505B; }
//     #f  { fill:#5C7A8C; }
//     #g  { fill:#5D8297; }
//     #h  { fill:#7CA1B6; }
//     #i  { fill:#4E5F75; }
//     #logo-type{ fill:#678C9C; }
//   }
// }
// svg{
//   #front-logo{
//     #a  { fill:#2B8FA8; }
//     #b  { fill:#31A6C4; }
//     #c  { fill:#24798F; }
//     #d  { fill:#1F697C; }
//     #e  { fill:#185464; }
//     #f  { fill:#1F697C; }
//     #g  { fill:#2B8DA8; }
//     #h  { fill:#2B8DA8; }
//     #i  { fill:#185464; }
//     #logo-type{ fill:white; }
//   }
// }
//
// svg{
//   #front-logo:hover{
//     #a  { fill:#00647D; }
//     #b  { fill:#007A99; }
//     #c  { fill:#004F64; }
//     #d  { fill:#004051; }
//     #e  { fill:#002D3D; }
//     #f  { fill:#004051; }
//     #g  { fill:#00627D; }
//     #h  { fill:#00627D; }
//     #i  { fill:#002D3D; }
//     #logo-type{ fill:white; }
//   }
// }
