doctype html
html(lang="en")
  
  head
    title Nanobox SVG

    link(href="stage/css/stage.css", rel="stylesheet")
    //- build:css nanobox-dashboard.css
    link(href="css/nanobox-dashboard.css", rel="stylesheet")
    //- endbuild

  body
    .icons-front-site
      img.shadow-icon( data-src="xbtn" )
      img.shadow-icon( data-src="small-add-btn" )
      img.shadow-icon( data-src="search" )
      img.shadow-icon( data-src="star" )
      img.shadow-icon( data-src="check" )
      img.shadow-icon( data-src="up-arrow" )
      img.shadow-icon( data-src="down-arrow" )
      img.shadow-icon( data-src="left-arrow" )
      img.shadow-icon( data-src="right-arrow" )
      //- Smaller Github icon
      //- .div(style="width:50px;")
      //-   img.shadow-icon( data-src="github", data-scalable="true" )
      
      
      //- Pagodabox icons-front-site
      img.shadow-icon( data-src= "flush-libs" )
      img.shadow-icon( data-src= "rebuild-deploy" )
      img.shadow-icon( data-src= "flush-and-rebuild" )
      img.shadow-icon( data-src= "hex-status-pages" )
      img.shadow-icon( data-src= "hex-logs" )
      img.shadow-icon( data-src= "hex-ops-room" )
      img.shadow-icon( data-src= "hex-ssl" )
      img.shadow-icon( data-src= "hex-new-relic" )
      img.shadow-icon( data-src= "deploy-logs" )
      img.shadow-icon( data-src= "streaming-logs" )
      img.shadow-icon( data-src= "historical-logs" )
      img.shadow-icon( data-src= "hex-new-btn" )
      img.shadow-icon( data-src= "circle-plus" )
      img.shadow-icon( data-src= "circle-check" )
      img.shadow-icon( data-src= "manage-molecule" )
      img.shadow-icon( data-src= "empty-cup" )
      img.shadow-icon( data-src= "adding-machine" )
      img.shadow-icon( data-src= "ram" )
      img.shadow-icon( data-src= "cpus" )
      img.shadow-icon( data-src= "disk" )
      img.shadow-icon( data-src= "topology-single" )
      img.shadow-icon( data-src= "topology-redundant" )
      img.shadow-icon( data-src= "topology-cluster" )
      img.shadow-icon( data-src= "topology-ring" )
      img.shadow-icon( data-src= "stork" )
      img.shadow-icon( data-src= "tinker" )
      img.shadow-icon( data-src= "production" )
      img.shadow-icon( data-src= "quickstart-box" )
      img.shadow-icon( data-src= "verify-account" )
      img.shadow-icon( data-src= "legal" )
      img.shadow-icon( data-src= "dns-check" )
      img.shadow-icon( data-src= "dns-record" )
      img.shadow-icon( data-src= "transactions-close" )
      img.shadow-icon( data-src= "transaction-logs" )
    
    
      //- New
      img.shadow-icon( data-src= "new-app-landing" )
      img.shadow-icon( data-src= "new-engine-landing" )
      img.shadow-icon( data-src= "guides-landing" )
      img.shadow-icon( data-src= "new-do" )
      img.shadow-icon( data-src= "new-linode" )
      img.shadow-icon( data-src= "new-aws" )
      img.shadow-icon( data-src= "new-joyent" )
      img.shadow-icon( data-src= "new-app" )
      img.shadow-icon( data-src= "new-engine" )
      img.shadow-icon( data-src= "engine-icon" )
      img.shadow-icon( data-src= "icon-page" )
      img.shadow-icon( data-src= "icon-download" )
      img.shadow-icon( data-src= "icon-star" )
      img.shadow-icon( data-src= "icon-do" )
      img.shadow-icon( data-src= "icon-linode" )
      img.shadow-icon( data-src= "icon-aws" )
      img.shadow-icon( data-src= "icon-joyent" )
      img.shadow-icon( data-src= "icon-image" )
      img.shadow-icon( data-src= "icon-single" )
      img.shadow-icon( data-src= "icon-multi" )
        
        
      //- Support
      img.shadow-icon( data-src= "status" )
      img.shadow-icon( data-src= "documentation" )
      img.shadow-icon( data-src= "irc" )
      img.shadow-icon( data-src= "tickets" )
      img.shadow-icon( data-src= "assistance" )
      img.shadow-icon( data-src= "monitoring" )
      img.shadow-icon( data-src= "new-ticket" )
    
    


    //- build:js js/libs.js
    script(src="bower-libs/jquery/dist/jquery.js")
    script(src="bower-libs/jade/runtime.js")
    script(src="bower-libs/shadow-icons/rel/app.js")
    //- endbuild

    //- build:js js/nanobox-dashboard.js
    script(src="js/nanobox-dashboard.js")
    //- endbuild
    
    script(src="stage/js/init.js")
    
    //- build:remove 
    script(src="http://localhost:35729/livereload.js")
    //- endbuild
